/* //////////////////////////
    GENERAL
////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Primary: #4EA7DD */
/* Secondary: #5B5B5D */
/* Background: rgb(252, 252, 252) */

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(252, 252, 252);
}


/* //////////////////////////
    MAIN CONTAINER
////////////////////////// */
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


/* //////////////////////////
    TABS
////////////////////////// */
.tabs-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.tabs-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.tab-item {
    margin-right: 10px;
}

.tab-link {
    text-decoration: none;
    color: #5B5B5D;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 1px solid #4EA7DD;
}

.tab-link:hover {
    background-color: #f0f0f0;
    color: #5B5B5D;
}

.tab-link.active {
    background-color: #4EA7DD;
    color: #fff;
    font-weight: bold;
}


/* //////////////////////////
    SEARCH
////////////////////////// */
.search-container {
    width: 100%;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    color: #5B5B5D;
}

.search-input:focus {
    outline: none;
    border-color: #4EA7DD;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-input::placeholder {
    color: #aaa;
}


/* //////////////////////////
    CARD
////////////////////////// */
.card-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .movies-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.card {
    width: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h2 {
    margin-top: 10px;
    font-size: 1.2rem;
}


/* //////////////////////////
    LOGO
////////////////////////// */
.logo {
    margin: 50px 0;
    text-align: center;
}